/*
***********************************
MEDIA QUERIES
***********************************
*/
/*
******************************************
VARIABLES
******************************************
*/
:root {
  --text-color: white;
  --bg-color: black;
}

/*
******************************************
GENERAL
******************************************
*/
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-family: "Poiret One", cursive;
  overflow: hidden;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
}

#home-explore-link {
  position: absolute;
  opacity: 0;
  top: 40%;
  left: 50%;
}
#home-explore-link:hover {
  letter-spacing: 0.4em;
}
#home-explore-link:hover:after {
  content: " >>";
}

.custom-link,
.back-link {
  font-size: 1em;
  color: var(--text-color);
  letter-spacing: 0.2em;
  text-decoration: none;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 30px;
  transition: ease-in-out 0.16s;
  cursor: pointer;
}
.custom-link:hover,
.back-link:hover {
  letter-spacing: 0.4em;
}

.custom-link {
  padding: 1em;
}

.back-link {
  padding: 0.5em;
}
.back-link:hover {
  padding: 1em;
}

/*
******************************************
NAV
******************************************
*/
.nav-btn {
  color: var(--text-color) !important;
}

/*
******************************************
MAIN TITLE
******************************************
*/
.main-title-container {
  position: absolute;
  bottom: 1%;
  right: 4%;
  overflow: hidden;
}
.main-title-container h1 {
  margin: 0;
  text-align: end;
  overflow: hidden;
}
.main-title-container h1:nth-child(1) {
  font-size: 6em;
}
.main-title-container h1:nth-child(2) {
  font-size: 9em;
}
@media (min-width: 1280px) {
  .main-title-container h1:nth-child(1) {
    font-size: 4em;
  }
  .main-title-container h1:nth-child(2) {
    font-size: 7em;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  .main-title-container h1:nth-child(1) {
    font-size: 4em;
  }
  .main-title-container h1:nth-child(2) {
    font-size: 7em;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .main-title-container h1:nth-child(1) {
    font-size: 4em;
  }
  .main-title-container h1:nth-child(2) {
    font-size: 7em;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .main-title-container h1:nth-child(1) {
    font-size: 2.7em;
  }
  .main-title-container h1:nth-child(2) {
    font-size: 4em;
  }
}

/*
******************************************
HOMEPAGE
******************************************
*/
.bg-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-up,
.bg-down,
.bg-explore-down {
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bg-up {
  height: 180vh;
  background-image: url("../images/bg-up.png");
}

.bg-down {
  z-index: 0;
  height: 100vh;
  background-image: url("../images/bg-down.png");
}
@media (min-width: 576px) and (max-width: 768px) {
  .bg-down {
    background-image: url("../images/bg-down-xs.png");
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .bg-down {
    background-image: url("../images/bg-down-xs.png");
  }
}

/*
******************************************
QUICK TOUR
******************************************
*/
.explore-bg-up {
  opacity: 0;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  background-image: url("../images/bg-explore-dekstop.jpg");
}
@media (min-width: 992px) and (max-width: 1280px) {
  .explore-bg-up {
    background-image: url("../images/bg-explore-tablet.jpg");
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .explore-bg-up {
    background-image: url("../images/bg-explore-tablet.jpg");
  }
}

.explore-titles {
  z-index: 1;
  position: relative;
  top: 15%;
  width: 100%;
  left: 20%;
}

.explore-title {
  z-index: 2;
  position: absolute;
  color: var(--text-color);
  font-size: 3em;
  text-decoration: none;
  transition: ease-in 0.1s;
}
.explore-title:hover {
  letter-spacing: 0.4em;
}

/*
******************************************
ABOUT
******************************************
*/
.about-container {
  position: absolute;
  z-index: 0;
  font-size: 2em;
  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
  color: var(--bg-color);
}
@media (min-width: 576px) and (max-width: 768px) {
  .about-container {
    font-size: 1em;
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .about-container {
    font-size: 1em;
  }
}

/*
******************************************
WEBSITES
******************************************
*/
/*BG*/
.website-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0.16;
}

.website-bg-monpoison {
  background-image: url("../images/monpoison.png");
}
@media (min-width: 576px) and (max-width: 768px) {
  .website-bg-monpoison {
    background-image: url("../images/monpoison-xs.png");
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .website-bg-monpoison {
    background-image: url("../images/monpoison-xs.png");
  }
}

.website-bg-mymarket {
  background-image: url("../images/mymarket.png");
}
@media (min-width: 576px) and (max-width: 768px) {
  .website-bg-mymarket {
    background-image: url("../images/mymarket-xs.png");
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .website-bg-mymarket {
    background-image: url("../images/mymarket-xs.png");
  }
}

.website-bg-imgreducer {
  background-image: url("../images/imgreducer.png");
}
@media (min-width: 576px) and (max-width: 768px) {
  .website-bg-imgreducer {
    background-image: url("../images/imgreducer-xs.png");
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .website-bg-imgreducer {
    background-image: url("../images/imgreducer-xs.png");
  }
}

.website-bg-mycontacts {
  background-image: url("../images/mycontacts.png");
}
@media (min-width: 576px) and (max-width: 768px) {
  .website-bg-mycontacts {
    background-image: url("../images/mycontacts-xs.png");
  }
}
@media (min-width: 300px) and (max-width: 576px) {
  .website-bg-mycontacts {
    background-image: url("../images/mycontacts-xs.png");
  }
}

/*website*/
.website-box-container {
  z-index: 1;
  position: absolute;
  width: 100%;
}
.website-box-container h1 {
  margin-top: 2%;
  font-size: 3em;
  padding-left: 1em;
}
@media (min-width: 300px) and (max-width: 576px) {
  .website-box-container h1 {
    left: 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .website-box-container h1 {
    left: 0;
  }
}

.website-text {
  padding-left: 1em;
  padding-right: 1em;
  opacity: 0;
  margin-top: 33px;
}
@media (min-width: 300px) and (max-width: 576px) {
  .website-text {
    height: 30vh;
    overflow-y: auto;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .website-text {
    height: 30vh;
    overflow-y: auto;
  }
}

.brands-logos {
  padding-left: 1em;
  margin-top: 33px;
}

.brands-logos img {
  filter: invert(1);
  width: 30px;
}

.website-links {
  position: absolute;
  top: 70%;
  left: 1%;
}

.website-link {
  position: absolute;
  bottom: 3%;
  left: 12%;
}

.next-link,
.previous-link {
  position: absolute;
  bottom: 3%;
  left: 3%;
  z-index: 3;
}
@media (min-width: 300px) and (max-width: 576px) {
  .next-link,
.previous-link {
    bottom: 28%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .next-link,
.previous-link {
    bottom: 28%;
  }
}

.next-link:hover:after {
  content: ">>>";
}

.previous-link:hover:before {
  content: "<<<";
}/*# sourceMappingURL=styles.css.map */